<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel = "stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link href = "{{url_for('static', filename = 'css/Account.css')}}" rel = "stylesheet">
    <title>Account</title>
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="/home"></use></svg>
              <span class="fs-4" style="color: cornflowerblue;"><strong>AppWork</strong></span>
          </a>
    </header>
    <div>
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 70%; margin-left: 15%">
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    <section class="d-flex justify-content-center align-items-center" style="background-color: white;">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <h2 class="mb-5" style="font-weight: bold">Login</h2>
                  <form action = "/account" method = "post" class = "needs-validation">
                      {{ form.hidden_tag() }}
                    <div class = "col-10">
                      <div class = "input-group has-validation" style="margin-left: 30px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                        </svg>
                          {{ form.email(type = "email", class = "form-control", style="margin-left: 20px; margin-top:-13px; border-radius: 30px;", placeholder="e-mail") }}
                      </div>
                    </div>
                    <div class = "col-10">
                      <div class = "input-group has-validation" style="margin-top: 25px; margin-left: 30px">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16" style="margin-top: 15px">
                              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                            </svg>
                          {{ form.password(class = "form-control", style = "margin-left: 20px; border-radius: 30px", placeholder="password") }}
                      </div>
                    </div>
                      <br>
                      <p><a href = "/forgot">Forgot password?</a></p>
                    <button class="btn btn-outline-primary" type="submit" style="margin-top: 20px">Login</button>
                  </form>
                  <span class="linebreak">Or</span>
              </div>
                <div class = "col-10">
                      <div class = "input-group has-validation" style="margin-top: 25px; margin-left: 30px">
                            <form action = "/register">
                                <button type="submit" class = "btn btn-outline-dark" style="margin-top: -170px; margin-left:190px;">Register</button>
                            </form>
                            <form action="/account/google">
                                <button type="submit" class = "btn btn-outline-dark" style="margin-top: -110px; margin-left: 60px">
                                    <svg aria-hidden="true" class="native svg-icon iconGoogle" width="18" height="18" viewBox="0 0 18 18"><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 0 0 2.38-5.88c0-.57-.05-.66-.15-1.18Z" fill="#4285F4"/><path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 0 1-7.18-2.54H1.83v2.07A8 8 0 0 0 8.98 17Z" fill="#34A853"/><path d="M4.5 10.52a4.8 4.8 0 0 1 0-3.04V5.41H1.83a8 8 0 0 0 0 7.18l2.67-2.07Z" fill="#FBBC05"/><path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 0 0 1.83 5.4L4.5 7.49a4.77 4.77 0 0 1 4.48-3.3Z" fill="#EA4335"/></svg>
                                    Login with Google
                                </button>
                            </form>
                          <form action="/account/github">
                              <button type = "submit" class = "btn btn-outline-dark" style="margin-top: -110px; margin-right: -320px; margin-left: 5px">
                                  <svg aria-hidden="true" class="svg-icon iconGitHub" width="18" height="18" viewBox="0 0 18 18"><path d="M9 1a8 8 0 0 0-2.53 15.59c.4.07.55-.17.55-.38l-.01-1.49c-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82a7.42 7.42 0 0 1 4 0c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48l-.01 2.2c0 .21.15.46.55.38A8.01 8.01 0 0 0 9 1Z" fill="#010101"/></svg>
                                  Login with GitHub
                              </button>
                          </form>
                          <button type="submit" class = "btn btn-outline-primary" style="margin-left: 205px; margin-top: -30px; border-radius: 30px"><a href = "/">Back</a></button>
                      </div>
                    <br>
                </div>
            </div>
          </div>
        </div>
        </div>
    </section>
    </div>
</body>
</html>